$white: rgb(240, 240, 240);
$white-9: rgba(240, 240, 240, .9);
$white-8: rgba(240, 240, 240, .8);
$white-7: rgba(240, 240, 240, .7);
$dark-white: rgba(231, 232, 240, .7);
$light-gray: #A3A3A3;
$light-gray-3: rgba(199, 203, 238, 0.3);
$gray-2: rgba(240, 240, 240, .2);
$gray: rgba(199, 203, 238, .2);
$gray-1: rgba(240, 240, 240, .1);
$gray-07: rgba(240, 240, 240, .07);
$dark-gray-1: rgba(199, 203, 238, .1);
$dark-gray-05: rgba(199, 203, 238, .05);
$filter: rgba(0, 0, 0, .15);
$light-black: rgba(27, 28, 30, 1);
$clear-black: rgb(26, 26, 29);
$background: rgba(12, 12, 13, .7);
$black-7: rgba(5, 5, 5, .7);
$black: rgb(5, 5, 5);
$bright-red: rgba(220, 16, 29, 1);
$red: rgba(255, 0, 15, 1);
$day-red: rgba(239, 53, 53, 1);
$light-red: rgba(255, 73, 73, 1);
$clear-red: #FF7B7B;
$carrot: rgba(238, 107, 33, 1);
$day-orange: #FF7C04;
$orange: rgba(255, 171, 72, 1);
$yellow: rgba(240, 213, 116, 1);
$lemon: rgba(255, 241, 167, 1);
$lime: rgba(116, 232, 176, 1);
$light-green: #7BFFA8;
$salad: rgba(38, 171, 115, 1);
$green: rgba(38, 171, 63, 1);
$bright-green: rgba(74, 249, 100, 1);
$night-blue: #0462FF;
$day-blue: rgba(39, 116, 245, 1);
$azure: #497CFF;
$blue: rgba(49, 131, 255, 1);
$sea: rgba(72, 167, 255, 1);
$turquoise: rgba(0, 224, 255, 1);
$light-blue: rgba(122, 212, 240, 1);
$blue-violet: rgba(131, 173, 255, 1);
$violet: rgba(143, 0, 255, 1);
$lilac: rgba(146, 95, 255, 1);
$light-violet: rgba(165, 134, 255, 1);
$pink: rgba(192, 123, 203, 1);
$day-red-2: rgba(239, 53, 53, .2);
$transparent-red: rgba(255, 73, 73, .2);
$carrot-2: rgba(238, 107, 33, .2);
$carrot-15: rgba(238, 107, 33, .15);
$orange-2: rgba(255, 171, 72, .2);
$orange-15: rgba(255, 171, 72, .15);
$yellow-2: rgba(240, 213, 116, .2);
$light-yellow-2: rgba(255, 241, 167, .2);
$light-blue-2: rgba(122, 212, 240, .2);
$lime-15: rgba(116, 232, 176, .15);
$dark-lime-15: rgba(74, 249, 100, 0.15);
$salad-2: rgba(38, 171, 115, .2);
$salad-15: rgba(38, 171, 115, 0.15);
$green-2: rgba(38, 171, 63, .2);
$green-15: rgba(38, 171, 63, .15);
$sea-15: rgba(72, 167, 255, 0.15);
$sea-2: rgba(72, 167, 255, .2);
$day-blue-2: rgba(39, 116, 245, .2);
$day-blue-15: rgba(39, 116, 245, 0.15);
$blue-15: rgba(49, 131, 255, .15);
$transparent-blue: rgba(73, 124, 255, .2);
$blue-violet-2: rgba(131, 173, 255, .2);
$light-violet-2: rgba(165, 134, 255, .2);
$light-violet-15: rgba(165, 134, 255, .15);
$lilac-2: rgba(146, 95, 255, .2);
$lilac-15: rgba(146, 95, 255, .15);
$pink-15: rgba(192, 123, 203, 0.15);
$pink-2: rgba(192, 123, 203, .2);
$violet-15: rgba(143, 0, 255, .15);